<form action="https://formspree.io/f/xeqbeanr" method="POST">
  <input name="Name" type="input" placeholder="Name" required>
  <input name="Company" type="input" placeholder="Company Name (optional)">
  <input name="Email" type="email" placeholder="Email" required>
  <input name="Phone" type="input" placeholder="Phone Number (optional)">
  <textarea name="message" placeholder="Message" required></textarea>
  <button type="submit">Submit</button>
</form>
<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    text-align: left;
    padding: 2rem 1;
    margin: 0;
  }
  form label {
    display: contents;
  }
  form input,
  form textarea,
  form button {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid  var(--tertiary);
    background: none;
    padding: 0.4rem 0.5rem;
    border-radius: var(--radius);
  }
  form textarea {
    resize: vertical;
  }
  form button {
  background: var(--tertiary);
  border: 0px;
}
</style>
